# XHS Insight 完整环境配置

# =============== 以下为数据库与大模型解析端所需 ===============
DB_HOST=localhost
DB_USER=root
DB_PASS=123456
DB_NAME=media_crawler

# 大模型配置 (支持任何遵循 OpenAI 格式的接口，如阿里百炼、DeepSeek、智谱等)
LLM_API_KEY=sk-xxxxxx
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL=qwen-max


# =============== 以下部分为 MediaCrawler 底层爬虫按需配置项 ===============
MYSQL_DB_PWD=123456
MYSQL_DB_USER=root
MYSQL_DB_HOST=localhost
MYSQL_DB_PORT=3306
MYSQL_DB_NAME=media_crawler
